body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: stretch;
}

#side-panel {
    flex-basis: 500px;
    overflow-y: scroll;
    margin: 10px;
    z-index: 1;
}

#map {
    flex-grow: 1;
    width: 100%;
}

#text-description {
    background-color: aquamarine;
}

#sort-button {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    z-index: 1;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* When the screen is less than 1024 pixels wide, */
@media screen and (max-width: 1024px) {
    /* Hide the side panel */
    #side-panel {
        display: none;
    }
}